<log4net>
  
  <!-- send logs to a file -->
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="\Logs\Sample\"/>
    <param name="AppendToFile" value="true"/>
    <param name="MaxSizeRollBackups" value="-1" />
    <param name="RollingStyle" value="Date" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyy-MM-dd'.txt'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date | [%-5level] | %property{log4net:HostName} | [%thread] | [%username] | %message %newline %exception" />
    </layout>
  </appender>
  
  <!-- send logs to syslog -->
  <appender name="SyslogAppender" type="log4net.Appender.UdpAppender">
    <!-- put syslog ip here -->
    <remoteAddress value="127.0.0.1" />
    <!-- put syslog port here -->
    <remotePort value="514" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date | [%-5level] | %property{log4net:HostName} | [%thread] | [%username] | %message %newline %exception" />
    </layout>
  </appender>
  
  <!-- send logs to a database -->
  <!-- note: if you don't use EF to gen your log table, you need to run the following
    CREATE TABLE [dbo].[Log](
	    [Id] [INT] IDENTITY(1,1) NOT NULL,
	    [Date] [DATETIME] NOT NULL,
	    [Thread] [NVARCHAR](256) NULL,
	    [Level] [NVARCHAR](256) NULL,
	    [Logger] [NVARCHAR](256) NULL,
	    [Message] [NVARCHAR](4000) NULL,
	    [Exception] [NVARCHAR](4000) NULL,
	    CONSTRAINT [PK_dbo_Log] PRIMARY KEY CLUSTERED ([Id] ASC)
    )
  -->
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <!-- buffer size controls how many logs queue up before writing to the database -->
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Server=SampleDB; Database=SampleDB; Integrated Security=True; MultipleActiveResultSets=True;" />
    <commandText value="INSERT INTO [Log] ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="256" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="256" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="256" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="SyslogAppender" />
    <appender-ref ref="AdoNetAppender" />
  </root>
</log4net>